<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->


<section class='section-wrapper contact-page-w'>
  <div class='container'>
    <h3 class='section-header'>Contact Page</h3>
      <div class='row'>
      <div class='span4'>
        <div class='blog-side-text-block widget-filled widget-yellow'>
          <h3>Contact Information</h3>
          <ul class="unstyled big-iconed-tips">

            <li>
              <i class='icon-envelope-alt'></i>
              Email: info@memkazar.com
            </li>
            <li>
              <i class='icon-globe'></i>
              Website: www.memkazar.com
            </li>
            <li>
              <i class='icon-facebook-sign'></i>
              Facebook: facebook.com/example
            </li>
            <li>
              <i class='icon-twitter-sign'></i>
              Twitter: twitter.com/BedellMedia
            </li>
          </ul>
          <p> </p>
        </div>
      </div>
      <div class='span8'>
        <div class="white-card extra-padding">
          <form class='form-transparent no-margin-bottom' id='form-add-comment'>
            <fieldset>
              <div class='row-fluid'>
                <div class='span12'>
                  <legend>Complete the form to contact us</legend>
                  <div class='controls controls-row'>
                    <input class='search-input span6' placeholder='Your name' type='text'>
                    <input class='search-input span6' placeholder='Your email' type='text'>
                  </div>
                  <div class='controls controls-row'>
                    <textarea class='span12' placeholder='Your message' rows='6'></textarea>
                  </div>
                  <div class='form-actions'>
                    <button class='btn btn-small'>Submit Message</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class='row'>
    </div>
    </div>
</section>

<footer>
  <div class='pre-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span4'>
          <div class='footer-logo'>
            <a>Theme<strong>Venera</strong></a>
          </div>
          <ul class='footer-address'>
            <li>
              <strong>Address:</strong>
              2850 Collins ave<br/>
              Camden, NJ 32432-1343, USA
            </li>
            <li>
              <strong>Phone:</strong>
              (324) 234-2343
            </li>
            <li>
              <strong>Fax:</strong>
              (324) 366-5423
            </li>
          </ul>
        </div>
        <div class='span4'>
          <h5 class='footer-header'>Recent Posts</h5>
          <ul class='footer-list'>
            <li>
              <a>Vestibulum auctor dapibus</a>
            </li>
            <li>
              <a>Aliquam tincidunt mauris</a>
            </li>
            <li>
              <a>Lorem ipsum dolor sit</a>
            </li>
            <li>
              <a>Consectetur adipisicing elit</a>
            </li>
          </ul>
        </div>
        <div class='span4'>
          <h5 class='footer-header'>Photostream</h5>

        </div>
      </div>
    </div>
  </div>
  <div class='deep-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span6'>
          <div class='copyright'>Copyright &copy; 2013 Bedell Media, LLC. All rights reserved.</div>
        </div>
        <div class='span6'>
          <ul class='footer-links'>
            <li>
              <a>Some</a>
            </li>
            <li>
              <a>Footer</a>
            </li>
            <li>
              <a>Policy</a>
            </li>
            <li>
              <a>Terms Of Use</a>
            </li>
            <li>
              <a>Links</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>




<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
