<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
<h1>The Memory Palace</h1>

          The Memory Palace, or Method of Loci, is a mnemonic device based on the fact that we’re extremely
          good at remembering places we know.  A ‘Memory Palace’ is a metaphor for any well-known place that
          you’re able to easily visualize and recall. It can be the inside of your home, or maybe the route
          you take every day to work. That familiar place will be your guide to store and recall any kind of
          information.
<br><br><br>
<h3>Step 1 - Create an Account</h3>

          Create a free account here.

<br><br><br>
<h3>Step 2 - Create Your First Memory Palace</h3>

          Create a Memory Palace in which to store you pegs.  Begin by building a palace to help you
          remember digits 0 through 99.

<br><br><br>
<h3>Step 3 - Populate Your Palace With Pegs</h3>

          Fill the palace with people you know or famous people that offer mental cues to you.  Imagine
          these people in places doing an action to further reinforce them in your mind.
          <br>
          We suggest you follow an arrangement where the first letters of their names represent the digits 0-9.
          <br>
      <h4>O = 0<br>
          A = 1<br>
          B = 2<br>
          C = 3<br>
          D = 4<br>
          E = 5<br>
          S = 6<br>
          G = 7<br>
          H = 8<br>
          N = 9</h4><br><br>

          Note that S is used for Six and N is for Nine.  Mnemonically it has been found to work better for your
          ability to remember the order and numerical representation of S for six than F.  N for nine is a much
          better choice than an I since N is the first letter in the word nine and that an I can be confused for
          a one.

<br><br><br>
<h3>Step 4 - Commit Your Palace To Memory</h3>

          Learn the palace you've created.  Try creating a palace with just the first ten digits, and work hard to
          Commit it to memory.  Practice using it in your everyday life.  Then when you are ready, build the rest
          of your palace!